<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rupa Bhagat</title>
  <meta name="description" content="simple CV example created with HTML and CSS">
  <meta name="author" content="Fly Nerd">
  <link rel="icon" href="./img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <div>
      <img src="./images/avatar.jpg" />
    </div>
    <h1>Rupa Bhagat</h1>
    <section>
      <p>Hello! I am Rupa Bhagat. I am pursuing my Graduation from Calcutta University. I have basic knowledge about Webdesiging and Seo. I have passion coding and seo, minimal and easy to use interfaces. I'm  focused, dedicated, hard-working and willing to learn in a changing and challenging environment.</p>
      <a href="https://www.facebook.com/rupa.bhagat.5623" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/RupaBhagat5" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      
      
      <a href="https://www.instagram.com/bhagatrupali32/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://in.linkedin.com/in/rupa-bhagat-2810ab229?trk=people-guest_people_search-card" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </section>
  </header>
  <main>
    <section>
      <h3>Courses & Workshops</h3>
      <article class='course'>
        <div class='title'>
          <h4>Youtube:-CodeWithHarry</h4>
        </div>
        <div class="descrition">
          <p>
            Learn about basic of Webdesiging using HTML and CSS </p>
        </div>
      </article>
      <article class='course'>
        <div class='title'>
          <h4>Youtube: WsCube Tech</h4>
        </div>
        <div class="descrition">
          <p>Learn Basic knowledge about SEO , Google ads, Facebook ads, On-page and Off-Page Seo.</p>
        </div>
      </article>
     
      
    
      
    </section>


    <!-- <section>
      <h3>Project</h3>
      <article class='course'>
        <div class='title'>
          <h4>TMU -6 Weeks internship</h4>
        </div>
        <div class="descrition">
          <p>
            </p>
        </div>
      </article>
      <article class='course'>
        <div class='title'>
          <h4>Book Store Management System</h4>
        </div>
        <div class="descrition">
          <p>Book Store Management System work on programming language java. Book store management system software has created to store and manage book details. This book store management system will help store book and manage book.</p>
        </div>
      </article>
    </section> -->
    

    <section>
      <h3>Interpersonal Skills</h3>
      <ul>
        <li>Caring about other people.</li>
        <li>Confident and Determined.</li>
        <li>Listening well</li>
        <li>AConflict management and resolution skills</li>
        <li>Confident and Determined.</li>
        <li>Flexibility in thinking and operating style</li>
        <li>Responsibility</li>
        <li>Empathy for others</li>
      </ul>
    </section>
    <section>
      <h3>Skills</h3>
      <div class='skills'>
        <div class='column'>
          <h4>Good knowledge</h4>
          <ul>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Computer Basic</li>
            <li>Windows-10</li>
          </ul>
        </div>
        <div class='column'>
          <h4>Basic knowledge</h4>
          <ul>
          
            <li>SEO</li>
            <li>Off-page Seo</li>
            <li>On-page Seo</li>
            <li>Googel Ads</li>
            <li>Facebook Ads</li>
            
          </ul>
        </div>
        <div>
          <h4>Languages</h4>
          
          <p>🇬🇧 English - Intermediate - ⭐  ⭐ </p>
          <p>🇮🇳  Hindi - Advanced -⭐ ⭐ ⭐⭐</p>
          <p>🇧🇩  Bangali - Advanced -⭐ ⭐ ⭐</p>
             
        </div>
      </div>
    </section>


  

    <section>
      <h3>Education</h3>
      <article>
        <div class='school'>
          <span>2020</span> <strong>Calcutta University </strong>
        </div>
        <div class="descrition">
          Bechelor of Ars (pursuing)
        </div>
      </article>
      <article>
        <div class='school'>
          <span>2011</span> <strong> Howrah Shikha Sadan</strong>
        </div>
        <div>
          Main subject: Arts
        </div>
      </article>

      <article>
        <div class='school'>
          <span>2013</span> <strong> Howrah Shikha Sadan</strong>
        </div>
       
        
      </article>
    </section>
    <section>
      <h3>Experience</h3>
      <article>
        <div class='job-title'>
          <span>08.2019 - 09.2019</span> <strong>South easter Railway (Howrah)</strong><br> <strong>Position:</strong> Enquiry
        </div>
        <div>
          <p><strong>Work on:</strong> </p>
          <ul class="job-description">
            <li>Update Time Table</li>
            <li>On Enquiry </li>
           
            
          </ul>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <p>23 Dec 2021 </p>
  </footer>
</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}


a {
  color: #1C9C94;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}

.course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #509e98;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .descrition p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, ul.job-description {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}

.school, .job-title {
  text-transform: capitalize;
}

.school span, .job-title span {
  color: #889499;
  text-decoration: underline;
}

ul.job-description li:before{
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}

footer {
 padding: 1em 1.5em;
 background: #A7B8BF;
 color: white;
 text-align: right;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}

</style>
